<div class="add">
  <div>
    <app-navsoc></app-navsoc>
  </div>
  <div class="body">
      <p class="h5 mt-3">Membership Form</p>
      <div class="input rounded">
          <div class="data">
            <form >
              <div class="col-md-10">
                <div class="md-form">
                  <i class="fa fa-user prefix gray-text"></i>
                  <input type="text" formControlName="orangeFormName" id="orangeForm-name" class="form-control" mdbInputDirective>
                  <label for="orangeForm-name">Full name</label>
                </div>
              </div>
              <div class="col-md-7">
                  <div class="md-form">
                    <i class="fa fa-hashtag prefix gray-text"></i>
                    <input type="text" formControlName="orangeFormEmail" id="orangeForm-email" class="form-control" mdbInputDirective>
                    <label for="orangeForm-email">Registration no</label>
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="md-form">
                    <i class="fa fa-tags prefix gray-text"></i>
                    <input type="text" formControlName="orangeFormEmail" id="socpost" class="form-control" mdbInputDirective>
                    <label for="socpost">Post</label>
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="md-form">
                    <i class="fa fa-envelope prefix gray-text"></i>
                    <input type="text" formControlName="orangeFormEmail" id="email" class="form-control" mdbInputDirective>
                    <label for="email">Email</label>
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="md-form">
                    <i class="fa fa-university prefix gray-text"></i>
                    <input type="text" formControlName="orangeFormEmail" id="faculty" class="form-control" mdbInputDirective>
                    <label for="faculty">Faculty</label>
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="md-form">
                    <i class="fa fa-mobile prefix gray-text"></i>
                    <input type="text" formControlName="orangeFormEmail" id="mobile" class="form-control" mdbInputDirective>
                    <label for="mobile">Mobile No</label>
                  </div>
              </div>
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary  rounded ">Submit</button>
              </div>
            </form>
          </div>
      </div>
      
        
  </div>
  <div>
    <app-footersoc></app-footersoc>
  </div>

</div>