<div class="body">
  <div>
    <app-nav></app-nav>
  </div>
  <div>
    <div class="header">
      <h3>Societies</h3>
    </div>
    <div class="list col-md-6 mb-4 ">
      <div class="list-group rounded">
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 1</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 2</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 3</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 4</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 5</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 6</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 7</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 8</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 9</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 10</a>
        <a routerLink="/society" class="list-group-item waves-light" mdbWavesEffect>Society 11</a>
      </div>
    </div>
    
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>