<div class="constrain">
    <div>
        <app-navsoc></app-navsoc>
    </div>
    <div class="body">
        <div class="text-center ml-3 mt-2 mb-3 mr-3">
            <mdb-carousel [isControls]="true" [animation]="'slide'">
                <!--First slide-->
                <mdb-carousel-item>
                <img class="d-block w-100" style="height: 400px;" src="../../assets/Images/img3.jpg" alt="First slide">
                </mdb-carousel-item>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-carousel-item>
                    <img class="d-block w-100" style="height: 400px;" src="../../assets/Images/img4.jpg" alt="Second slide">
                </mdb-carousel-item>
                        <!--/Second slide-->
                        <!--Third slide-->
                <mdb-carousel-item>
                    <img class="d-block w-100" style="height: 400px;" src="../../assets/Images/img5.jpg" alt="Third slide">
                </mdb-carousel-item>
                        <!--/Third slide-->
            </mdb-carousel>    
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="ml-4 rounded" style="background-color: azure; height: 280px ">
                    <p class="h4 pt-4 pl-5">Events</p>
                    
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="rounded" style="background-color: azure ; height: 280px ">
                    <p class="h4 pt-4 pl-5">Notices</p>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="rounded mr-4" style="background-color: azure ; height: 280px ">
                    <p class="h4 pt-4 pl-5">Membership letter</p>
                    
                    
                    
                    
                        
                </div>
            </div>
        </div>
        
    </div>  
    <div>
        <app-footersoc></app-footersoc>
    </div>
</div>
