<div>
  <div class="mr-4 mb-3 p-3 rounded" style="height: 280px; background-color: #ffffff">
    <form action="">
      <p class="h5 text-center mb-4">Sign in</p>
      <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" class="form-control" id="defaultForm-email" mdbInputDirective>
          <label for="defaultForm-email">Your email</label>
      </div> 
      <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" class="form-control" id="defaultForm-pass" mdbInputDirective>
          <label for="defaultForm-pass">Your password</label>
      </div>   
      <div class="text-center">
          <input type="submit" class="btn btn-primary waves-light" mdbWavesEffect value="Login">
      </div>
      <div>
          <a routerLink="/regform">Sign up</a>
      </div>
    </form>
  </div>
</div>