<div>
  <div class="rounded" style="margin: 0px 350px 0px 350px;background-color: white;height: 640px;">
    <div class="">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div style="padding-top: 20px">
          <p class="h3 mb-5 text-center">Register Your Society</p>
        </div>
        <p class="h5 ml-5 mb-5">Basic Info</p>

        <div class="ml-5 col-md-7">
          <div class="">
            <div class="md-form form-Group">
                <i class="fa fa-group prefix "></i>
                <input type="text" formControlName="name"  class="form-control"  id="name" mdbInputDirective>
                <label for="name">Society name</label>
            </div> 
          </div>
          <div class="">
            <div class="md-form form-Group">
              <i class="fa fa-envelope prefix "></i>
              <input type="text" formControlName="email" class="form-control" id="email" mdbInputDirective>
              <label for="email">Society email</label>
            </div>
          </div> 
          <div class="">
              <div class="md-form form-Group">
                  <i class="fa fa-group prefix "></i>
                  <input type="text" formControlName="username"  class="form-control"  id="username" mdbInputDirective>
                  <label for="username">Society Username</label>
              </div> 
          </div> 
            <div class="">
              <div class="md-form form-Group">
                <i class="fa fa-lock prefix  "></i>
                <input type="password" formControlName="password" class="form-control"id="password" mdbInputDirective>
                <label for="password">password</label>
              </div> 
            </div>
            <div class="">
              <div class="md-form form-Group">
                <i class="fa fa-lock prefix "></i>
                <input type="password" formControlName="cpassword"  class="form-control" id="cpassword" mdbInputDirective>
                <label for="cpassword">Confirm password</label>
              </div>  
            </div> 
            <div class="">
              <div class="md-form form-Group">
                <i class="fa fa-bank prefix  "></i>
                <input type="text" formControlName="accno" class="form-control"id="accno" mdbInputDirective>
                <label for="accno">Society Account No</label>
              </div> 
            </div> 
        </div>
        
        <div class="register mt-5">
          <div class="text-center form-Group ">
          <button type="submit" class="btn btn-primary  rounded ">Register</button>
          </div>
        </div>
        
      </form>
      <!-- Register form -->
    </div>
  </div>
</div>
