<div>
  <div class="rounded" style="margin: 0px 150px 0px 150px;background-color: white">
    <div class="mt-5">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div style="padding-top: 20px">
          <p class="h3 mb-4 text-center">Register Your Society</p>
        </div>
        <p class="h5 ml-5 mb-4">Basic Info</p>

        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-4">
            <div class="md-form form-Group">
                <i class="fa fa-group prefix grey-text"></i>
                <input type="text" formControlName="name"  class="form-control"  id="name" mdbInputDirective>
                <label for="name">Society name</label>
            </div> 
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-4">
            <div class="md-form form-Group">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" formControlName="email" class="form-control" id="email" mdbInputDirective>
              <label for="email">Society email</label>
            </div>
          </div> 
        </div> 
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              <div class="md-form form-Group">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" formControlName="password" class="form-control"id="password" mdbInputDirective>
                <label for="password">password</label>
              </div> 
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              <div class="md-form form-Group">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" formControlName="cpassword"  class="form-control" id="cpassword" mdbInputDirective>
                <label for="cpassword">Confirm password</label>
              </div>  
            </div> 
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              <div class="md-form form-Group">
                <i class="fa fa-bank prefix grey-text"></i>
                <input type="text" formControlName="accno" class="form-control"id="accno" mdbInputDirective>
                <label for="accno">Society Account No</label>
              </div> 
            </div> 
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              <div class="md-form form-Group">
                <i class="fa fa-group prefix grey-text"></i>
                <input type="text" formControlName="members" class="form-control" id="members" mdbInputDirective>
                <label for="members">No of members</label>
              </div> 
            </div> 
          </div>

        <div class="text-center form-Group">
          <button type="submit" class="btn btn-primary btn-sm rounded">Register</button>
        </div>
      </form>
      <!-- Register form -->
    </div>
  </div>
</div>
